<h1 mat-dialog-title>Add Product Form</h1>
<div mat-dialog-content>
    <form [formGroup] = "productForm">
        <mat-form-field appearance="outline">
            <mat-label>Product Name</mat-label>
            <input formControlName="productName" matInput placeholder="Name">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Product Category</mat-label>
            <mat-select formControlName="category"placeholder="Category">
                <mat-option value="Vehicles">Vehicles</mat-option>
                <!-- <mat-option value="Vegetables"></mat-option> -->
                <mat-option value="Electronics">Electronics</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Choose a date</mat-label>
            <input formControlName="date" matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <label for="">
            <h2>Product Condition</h2>
        </label>
        <mat-radio-group formControlName="condition"class="example-radio-group">
            <mat-radio-button class="example-radio-button" *ngFor="let con of conditionList" [value]="con">{{con}}
                <!-- {{}} this is interpolation technique -->
            </mat-radio-button>
        </mat-radio-group>


        <mat-form-field appearance="outline">
            <mat-label>price</mat-label>
            <input formControlName="price" matInput type="number" placeholder="Name">
        </mat-form-field>


        <mat-form-field appearance="outline">
            <mat-label>comment</mat-label>
            <textarea formControlName="comment" matInput></textarea>
        </mat-form-field>
    </form>
</div>

<div mat-dialog action [align]="'end'">
    <button style="margin-right:9px;" mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button style="margin-right:27px;" mat-raised-button color="primary" mat-dialog-close (click)="addProduct()" >{{actionBtn}}</button>
</div>